<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mymusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="activity.MonierSongsActivity"> </activity>
        <activity android:name="activity.AmrSongsActivity"></activity>
        <activity android:name="activity.HamakiSongsActivity"></activity>
        <activity android:name="activity.AdeleSongsActivity"></activity>
        <activity android:name="activity.ZaynSongsActivity"></activity>
        <activity android:name="activity.SadPlaylistSongsActivity"></activity>
        <activity android:name="activity.HappyPlaylistSongsActivity"></activity>
    </application>

</manifest>